
<nav class="navbar">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 text-light">CricStats</span>
    <span class="navbar-brand h2 text-light" routerLink="/" routerLinkActive="true">All Players</span>
    <span class="navbar-brand h2 text-light" routerLink="/add" routerLinkActive="true">Add Player</span>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
